@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: rgb(1,0,32);
  background: linear-gradient(90deg, rgba(1,0,32,1) 0%, rgba(53,1,78,1) 100%);
  min-height: 100vh;
}

h1 h2 h3 p {
  background-color: rgb(255, 255, 255);
}